server:
  port: 0

spring:
  application:
    name: management-ops
  datasource:
    url: jdbc:postgresql://my-school.cqkytc8dhq8x.ap-south-1.rds.amazonaws.com:5432/my_school
    username: root
    password: root1234
    driverClassName: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  flyway:
    enabled: true
    schemas: public
    locations: classpath:db/migration
    cleanDisabled: false

logging:
  level:
    org:
      springframework: INFO
      hibernate: INFO
    com:
      myschool: INFO

eureka:
  client:
    service-url:
      defaultZone: ${eureka_uri:http://eureka:password@localhost:8761/eureka}
    registryFetchIntervalSeconds: 60

management:
  health:
    circuitbreakers:
      enabled: true